/* 
.vuepress/styles/index.styl - This is a theme-wide style file that
automatically used throughout the vuepress application because of its filepath. 

Although only SASS and CSS are mentioned in the [Style File page of the Vuepress
docs](https://ecosystem.vuejs.press/themes/default/styles.html#style-file), 
Vuepress automtically processes ".styl" files as well.
*/

:root
  --color-link #04D9D9
  --color-primary #04D9D9
