name: Publish Latest Docker Image

on:
  push:
    branches:
      - "master"
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR container register
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push chaosnet image
        uses: docker/build-push-action@v4
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          file: contrib/docker/chaosnet.Dockerfile
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/nibiruchain/chaosnet:${{ steps.get_version.outputs.version }}