node_modules
.env

ignition
bun.lockb

# Hardhat files
/cache
artifacts/@openzeppelin
artifacts/build-info

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
